
<h1 class='login-a'>ログイン</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class='login-b'>
    <%= f.label :メールアドレスを入力してください %>
    <br>
  </div>
  <div class='login-c'>
    <%= f.email_field :email %>
    <br>
  </div>
  <div class='login-b'>
    <%= f.label :パスワードを入力してください %>
    <br>
  </div>
  <div class='login-c'>
    <%= f.password_field :password %>
    <br>
  </div>
  <div class='login-d'>
    <%= f.submit "ログインする" %>
  </div>
<% end %>
